body {
  background-color: rgb(193, 193, 193);
  color: #003B00;
  column-fill: auto;
  font-family: Consolas;
  font-size: 1rem;
}

.header {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  border-top: 0.3rem solid rgb(233, 233, 233);
    border-left: 0.3rem solid rgb(233, 233, 233);
    border-right: 0.3rem solid rgb(151, 151, 151);
    border-bottom: 0.3rem solid rgb(151, 151, 151);
}
.new-game-btn {
  color :#003B00;
  padding: 0.5rem;
  width: 15em;
  background: rgb(186,186,186);
    border-top: 0.3rem solid rgb(233, 233, 233);
    border-left: 0.3rem solid rgb(233, 233, 233);
    border-right: 0.3rem solid rgb(151, 151, 151);
    border-bottom: 0.3rem solid rgb(151, 151, 151);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav .message {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  font-size: 2rem;
}
.nav .new-game-btn-container {
  width: 50%;
  text-align: center;
}