.new-game-form {
  margin-top: 10rem;
  display: block;
  float: inside;
  text-align: center;
  ul {
    list-style-type: none;
    text-align: center;
  }
  li {
    padding: 0.8rem;
  }
  label {
    width: 50%;
    display: flow;
    text-align: left;
    input {
      text-align: center;
      width: 3rem;
      background-color: #0D0208;
      color: #003B00;
      border: 0px;
      border-bottom: 1px solid #003B00;
      margin-left: 1rem;
    }
  }
  input[type=submit] {
    background: #0D0208;
    color :#003B00;
    padding: 1rem;
    width: 15em;
    border: 3px dashed #003B00;
  }
}