.new-game-form {
  margin-top: 10rem;
  display: block;
  float: inside;
  text-align: center;
  ul {
    list-style-type: none;
    text-align: center;
  }
  li {
    padding: 0.8rem;
  }
  label {
    width: 50%;
    display: flow;
    text-align: left;
    input {
      text-align: center;
      width: 3rem;
      background-color: rgb(151,151,151);
      color: #003B00;
      border: 0px;
      border-bottom: 1px solid #003B00;
      margin-left: 1rem;
    }
  }
  input[type=submit] {
    color :#003B00;
    padding: 1rem;
    width: 15em;
    background: rgb(186,186,186);
    border-top: 0.3rem solid rgb(233, 233, 233);
    border-left: 0.3rem solid rgb(233, 233, 233);
    border-right: 0.3rem solid rgb(151, 151, 151);
    border-bottom: 0.3rem solid rgb(151, 151, 151);
  }
}